<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Editar</h1>

            <form th:action="@{/persona/save}" method="POST">  
                <input type="hidden" name="id" th:value="${personas.id}">

                
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="nombre" th:value="${personas.nombre}" >
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Correo</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name="correo" th:value="${personas.correo}">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput3" class="form-label">Numero</label>
                    <input type="text" class="form-control" id="formGroupExampleInput3" name="numero" th:value="${personas.numero}">
                </div>
                

                <button type="submit" class="btn btn-success">Actualizar</button>
            </form> 
        </div>
    </body>
</html>