<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
        <link rel="stylesheet" href="templates/editor.css">
    </head>
    <body>
    <div class="container">     
        <h1>Top Competencia-Ruta del Platano</h1>
        <a th:href="@{/ciclista/}" class="btn btn-success">Regresar</a>
        <a th:href="@{/ciclista/select}" class="btn btn-success">Actualizar</a>  
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                 <th scope="col">Usuario</th>
                <th scope="col">Tiempo</th> 
                <th scope="col">Velocidad Promedio</th>
                <th scope="col">Potencia Promedio</th> 
              </tr>
            </thead> 
            <tbody>
              <tr th:each="estadistica:${listEstadistica}">
                <td scope="row" th:text="${estadistica.idEstadistica}"></td>  
                 <td th:text="${estadistica.ciclista.nombre}"></td>                          
                <td th:text="${estadistica.tiempo}"></td>
                <td th:text="${estadistica.velocidad}"></td>
                <td th:text="${estadistica.potencia}"></td>             
                <th></th>
                <th></th>
              </tr>
            </tbody>
          </table>
          <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-primary mt-3">Salir</button>
          </form> 
        </div> 
    </body>
</html>